# Rust
/server/target
/server/debug/
**/*.rs.bk
Cargo.lock
*.pdb
/.spacetime

# Node
/node_modules
/dist
/.output
/.solid
/.vercel
/.netlify
/.vinxi

# Environment
.env
.env*.local

# SpacetimeDB
src/lib/spacetimedb/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
/.idea
.project
.classpath
*.launch
.settings/

# Misc
*.log
*.tmp
sqlite.db
gitignore

# Playwright
/test-results
/playwright-report
/playwright/.cache

# E2E test logs and screenshots
/test-logs